{%  extends "generic.twig" %}

{% block title %}Password Change{% endblock %}

    {% block main %}

        <form action="{{ url_for('password_change') }}" method="POST" class="formulario">

            <label for="old_password">Old password:</label>
            {% if old_password is defined %}
                <input type="text" value="{{ old_password }}" name="old_password" id="old_password" class="specialInputs"/>
                {% if error_old_password is defined %}
                    <p class="error">{{ error_old_password }}</p>
                {% endif %}
            {% else %}
                <input type="text" name="old_password" id="old_password" class="specialInputs"/>
            {% endif %}


            <label for="new_password">New password:</label>

            {% if new_password is defined %}
                <input type="text" value="{{ new_password }}" name="new_password" id="new_password" class="specialInputs"/>
                {% if error_new_password is defined %}
                    <p class="error">{{ error_new_password }}</p>
                {% endif %}
            {% else %}
                <input type="text" name="new_password" id="new_password" class="specialInputs"/>
            {% endif %}

            <label for="confirm_password">Confirm password:</label>

            {% if confirm_password is defined %}
                <input type="text" value="{{ confirm_password }}" name="confirm_password" id="confirm_password" class="specialInputs"/>
                {% if error_confirm_password is defined %}
                    <p class="error">{{ error_confirm_password }}</p>
                {% endif %}
            {% else %}
                <input type="text" name="confirm_password" id="confirm_password" class="specialInputs"/>
            {% endif %}

            <a href="{{ url_for('password_change') }}"><input type="submit" value="Change Password" class="specialInputs"></a>

        </form>

    {% endblock %}

