{%  extends "generic.twig" %}

{% block title %}Transactions{% endblock %}

    {% block main %}
        {% if warning is not empty %}
            <p class="warning">{{ warning }}</p>
        {% endif %}

                <table class = "tableTransactions">
                    <tr class = "primeraFila">
                        <th class = "numero"></th>
                        <th >Amount</th>
                        <th>From/To</th>
                        <th>More Details</th>
                    </tr>


                    {% set i=1 %}
                    {% for transaction in transactions %}
                        <tr class = "Row">
                            <td class = "numero">{{ i }}</td>
                            {% if transaction.already_paid == 2 %}
                                {% if transaction.amount < 0 %}
                                    <td class = "Decrecimiento">{{ transaction.amount }}€</td>
                                    <td >{{ transaction.sender }}</td>
                                    <td >Money sent</td>
                                {% else %}
                                    <td class = "Crecimiento">+{{ transaction.amount }}€</td>
                                    <td >{{ transaction.sender }}</td>
                                    <td>Money received</td>
                                {% endif %}
                            {% else %}
                                {% if transaction.sender_id == id %}
                                    <td class = "Request">+{{ transaction.amount }}€</td>
                                    <td >{{ transaction.receiver }}</td>
                                    {% if transaction.already_paid == 1 %}
                                        <td >Money requested already paid</td>
                                    {% else %}
                                        <td >Money requested not paid</td>
                                    {% endif %}
                                {% else %}
                                    <td class = "Request">-{{ transaction.amount }}€</td>
                                    <td >{{ transaction.sender }}</td>
                                    {% if transaction.already_paid == 1 %}
                                        <td >Money requested already paid</td>
                                    {% else %}
                                        <td >Money requested not paid</td>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            {% set i=i+1 %}
                        </tr>
                    {% endfor %}

                </table>
            </div>

    {% endblock %}

